<form [formGroup]="skillForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Name</label>
    <input id="name" formControlName="name" class="form-control"/>
    <div *ngIf="skillForm.get('name')?.touched && skillForm.get('name')?.invalid">
      <small *ngIf="skillForm.get('name')?.errors?.['required']">Name is required</small>
    </div>
  </div>

  <div>
    <label for="image">Image </label>
    <input id="img" type="file" accept="image/*" class="form-control" (change)="onFileChange($event)" />
    <div *ngIf="skillForm.get('image')?.touched && skillForm.get('image')?.invalid">
      <small *ngIf="skillForm.get('image')?.errors?.['required']">Image is required</small>
    </div>
  </div>

  <button type="submit" class="btn btn-primary"  [disabled]="skillForm.invalid">Add Skill</button>
</form>
