<table class="table table-striped">
  <thead>
    <tr>
       @for(item of columns;track $index){
      <th>{{ item | titlecase }}</th>
       }
       <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @for(row of data;track $index){
      <tr>
        @for(col of columns;track $index){
        <td >{{ row[col] }}</td>
        }
        <td>
          <div class="dropdown">
            <select class="form-select form-select-sm" aria-label="Action select">
              <option selected>Actions</option>
              <option (click)="onEdit(row)">Edit</option>
              <option (click)="onDelete(row)">Delete</option>
            </select>
          </div>
            <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Actions
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><button class="dropdown-item" type="button" (click)="onEdit(row)">Edit</button></li>
              <li><button class="dropdown-item text-danger" type="button" (click)="onDelete(row)">Delete</button></li>
            </ul>
        </td>
      </tr>
    }
  </tbody>
</table>
