<table class="table table-striped">
  <thead>
    <tr>
       @for(item of columns;track $index){
      <th>{{ item | titlecase }}</th>
       }
       <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @for(row of data;track $index){
      <tr>
        @for(col of columns;track $index){
        <td >{{ row[col] }}</td>
        }
        <td>
          <div class="dropdown"></div>
            <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Actions
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><button class="dropdown-item" type="button" (click)="onEdit(row)">Edit</button></li>
              <li><button class="dropdown-item text-danger" type="button" (click)="onDelete(row)">Delete</button></li>
            </ul>
          </div>
        </td>
      </tr>
    }
  </tbody>
</table>
